.filter__button {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px; 
    border-radius: 4px;
    background: #e4242e;;
    border: 1px solid #dd0e18;
    box-shadow: 2px 2px 4px 0px rgba(218, 45, 53, 0.6), -2px -2px 4px 0px #FFAAA5;
}

.filter__button__span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.56px;
    text-transform: uppercase;
    font-style: normal;
}

.filter__button:active {
    border: 1px solid #e4709b;
    box-shadow: -4px -4px 8px 0px rgba(231, 58, 52, 0.8) inset, 4px 4px 8px 0px #df8080 inset;
}

.filter__button__span:active {
    color: #fff; 
}

.filter__button__select{
    display: flex;line-height: 16.56px;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    background: #dd0e18;
    border: 1px solid #e74983;
    box-shadow: -2px -2px 4px #bd4943, 2px 2px 4px rgba(184, 21, 80, 0.6);
    border-radius: 4px;
}

.filter__button__span__selected {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.56px;
    text-transform: uppercase;
    color: #fff;
}

.filter__button__selected:active {
    box-shadow: inset 4px 4px 8px #9C3F3F, inset -4px -4px 8px rgba(255, 209, 207, 0.8); 
}