.filter__button {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px; 
    border-radius: 4px;
    border: 1px solid #e64e86;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 4px 0px rgba(245, 95, 153, 0.6), -2px -2px 4px 0px #FFAAA5;
}

.filter__button__span {
    color: #f56b9d;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.56px;
    text-transform: uppercase;
    font-style: normal;
}

.filter__button:active {
    border: 1px solid #e4709b;
    background: rgba(243, 243, 243, 0.01);
    box-shadow: -4px -4px 8px 0px rgba(255, 209, 207, 0.80) inset, 4px 4px 8px 0px #9C3F3F inset;
}

.filter__button__span:active {
    color: #a54e6e; 
}

.filter__button__select{
    display: flex;line-height: 16.56px;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    background: linear-gradient(167.24deg, #FFFFFF 6.63%, #FBA9A5 134.73%);
    border: 1px solid #e74983;
    box-shadow: -2px -2px 4px #FFAAA5, 2px 2px 4px rgba(184, 21, 80, 0.6);
    border-radius: 4px;
}

.filter__button__span__selected {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.56px;
    text-transform: uppercase;
    color: #dd3472;
}

.filter__button__selected:active {
    box-shadow: inset 4px 4px 8px #9C3F3F, inset -4px -4px 8px rgba(255, 209, 207, 0.8); 
}